.srm-empty-history {
  display: inline-block;
  text-align: left;
}

.srm-empty-history__icon {
  display: inline-block;
  height: 44px;
  margin-right: 12px;
  vertical-align: middle;
  width: 44px;
}

.srm-empty-history__text {
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
}
