.srm-layout {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.srm-layout__history-toggle {
  height: 42px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 64px;
}

.srm-layout__search-box {
  height: 54px;
  left: 80px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.srm-layout__history {
  background: #fff;
  bottom: 0;
  display: none;
  left: 0;
  overflow-x: auto;
  padding: 0 16px;
  position: absolute;
  right: 0;
  top: 74px;
  z-index: 2;
}

.srm-layout_history-show .srm-layout__history {
  display: block;
}

.srm-layout__map {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 74px;
  z-index: 1;
}

@media (min-width: 1200px) {

  .srm-layout__history {
    right: auto;
    width: 240px;
  }

  .srm-layout_history-show .srm-layout__map {
    left: 272px;
  }

}
